#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

body {
  font-family: "Prompt", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(243, 243, 243);

  animation: .5s body ease-in-out;
}
@keyframes body {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.TodoCounter {
  font-weight: Bold;
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 48px;
}

.TodoSearch {
  text-align: center;
  width: 100%;
  height: 50px;
  font-size: large;
  border-radius: 10px;
}

.TodoSearch:hover {
  background-color: rgb(226, 226, 226);
  cursor: pointer;
}

.TodoListDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60px;
  align-items: center;
  border: solid 1px;
  border-radius: 10px;
  margin: 10px 0px 10px -25px;
  background-color: #fafafa;
  box-shadow: 0px 5px 25px rgba(143, 143, 143, 0.5);
}

.TodoList {
  list-style: none;
  width: 100%;
  font-weight: Medium;
}

.TodoItem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: -5px;

  animation: .25s modal ease-in-out;
}

.TodoItem-p {
  margin: 24px 0 24px 24px;
  width: calc(100% - 120px);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.TodoItem-p--complete {
  text-decoration: line-through;
}

.TodoButton {
  z-index: 5;

  background-color: rgb(26, 113, 189);
  box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 50px;
  position: absolute;
  bottom: 24px;
  right: 24px;
  font-weight: bold;
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;

  transform: rotate(0);
  transition: 0.3s ease;
}

.TodoButton:hover {
  transform: rotate(224deg);
}

@media (max-width: 600px) {
  #root {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  html,
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .TodoCounter {
    width: 90%;
    padding: 48px 0px 48px 0px;
  }
  .TodoSearch {
    width: 90%;
  }
  .TodoItem {
    width: 96%;
    padding: 0px;
  }
  .TodoButton {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  .TodoList {
    padding: 5px 0px 5px 0px;
    width: 90%;
  }
  .TodoListDiv {
    width: 100%;
    margin: 10px 0px 10px 0px;
  }
}
